<!DOCTYPE HTML>
<html>
	<head>
		<title>About Us</title>
 	    <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/kevin.css" rel="stylesheet">
	</head>
	<body>
		<div class = "mybar">
	 		<a href ="/"><div>
	 			<p>Home</p>
	 		</div></a>
	 		<a href ="/products"><div>
	 			<p>Products</p>
	 		</div></a>
	 		<a href ="/about"><div>
	 			<p>About Us</p>
	 		</div></a>
	 	</div>
	 	<br />
	 	<div>
			<h1 class ="about">About Us</h1>
			<br /><br />
			<p class ="about">In the year 1994, Aling Nena married Ffen Arcenal. They had a very happy life. But, one day, Ffen became
				very fat. Ffen lost his job and became miserable. His wife Aling Nena, then, decided to build her own store.
			</p>	
			<p class ="about">Along with her very fat husband, Aling Nena became the manager and owner of her own sari-sari store.
			In 1998, Aling Nena's first store was built. It stood in Valuenzela, near Diantha's house.
			</p>
		</div>
	</body>
</html>