<!DOCTYPE HTML>
<html>
	<head>
		<title>About Us</title>
	</head>
	<body>
		<h1>About Us</h1>
		<p>In the year 1994, Aling Nena married Ffen Arcenal. They had a very happy life. But, one day, Ffen became
			very fat. Ffen lost his job and became miserable. His wife Aling Nena, then, decided to build her own store.
		</p>	
		<p>Along with her very fat husband, Aling Nena became the manager and owner of her own sari-sari store.
		In 1998, Aling Nena's first store was built. It stood in Valuenzela, near Diantha's house.
		</p>
	</body>
</html>