<!DOCTYPE HTML>
<html>
	<head>
		<title>About Us</title>
 	    <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/kevin.css" rel="stylesheet">
		<link rel="shortcut icon" href="/pics/nena.ico">
	</head>
	<body>
		<div class = "mybar">
	 		<a href ="/"><div>
	 			<p>Home</p>
	 		</div></a>
	 		<a href ="/products"><div>
	 			<p>Products</p>
	 		</div></a>
	 		<a href ="/about"><div>
	 			<p>About Us</p>
	 		</div></a>
	 	</div>
	 	<br /><br /><br /><br /><br />
	 	<center><div class = "myabout">
	 		<br />
			<h1 class ="about">About Us</h1>
			<br />
			<p class ="about">In the year 1994, Aling Nena married Ffen Arcenal. They had a very happy life. But, one day, Ffen became
				very fat. Ffen lost his job and became miserable. His wife Aling Nena, then, decided to build her own store.
			</p>	
			<p class ="about">Along with her very fat husband, Aling Nena became the manager and owner of her own sari-sari store.
			In 1998, Aling Nena's first store was built and it stood in Valuenzela. 
			</p>
			<p>The store was very famous in Valuenzela, because everybody wanted to see the fat person manning the cash register.
			In 2000, they expanded their store because Ffen Arcenal won't fit in the cash register's booth.
			</p>
			<p> Today, Aling Nena's store became so huge that they are already selling the finest gadgets and finest items, and 
			with a very huge profit. Now, they hired Kevin Cua to make a website for their sari-sari store.
			</p>
	 		<br /><br />
		</div></center>
	</body>
</html>