<!DOCTYPE html>
<html>
	<head>
		<title>
		Ffen's Hotel
		</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	</head>
	<body background = "pics/front.jpg">
		<div id ="divmain">
			<div class = "divmain2">
			<center /><a class ="font" href="/hotel">Home</a></li>
			</div>
			<div class = "divmain2">
			<center /><a class ="font" href="/hotelrooms">Hotel Rooms</a>
			</div>
			<div class = "divmain2">
			<center /><a class ="font" href="/hotelreserve">Reserve a Room</a>
			</div>
			<div class = "divmain2">
			<center /><a  class ="font" href="/hotelabout">About us</a>
			</div>
			<div class = "divmain2">
			<center /><a  class ="font" href="/">Aling Nena</a>
			</div>
		</div>
		
			
			<br />
			<div class = "divshade">
			<h1 class = "welcome">Ffen's Hotel</h1>
			</div>
			
	</body>
</html>
