<!DOCTYPE html>
<html>
	<head>
		<title>
		Ffen's Hotel
		</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	</head>
	<body background = "pics/front.jpg">
		<div id ="divmain">
			<div class = "divmain2">
			<center /><a class ="font" href="/hotel">Home</a></li>
			</div>
			<div class = "divmain2">
			<center /><a class ="font" href="/hotelrooms">Hotel Rooms</a>
			</div>
			<div class = "divmain2">
			<center /><a class ="font" href="/hotelreserve">Reserve a Room</a>
			</div>
			<div class = "divmain2">
			<center /><a  class ="font" href="/hotelabout">About us</a>
			</div>
			<div class = "divmain2">
			<center /><a  class ="font" href="/">Aling Nena</a>
			</div>
		</div>
		
			<br />
			<h1>Ffen's Hotel</h1>
			<br />
			<br />
			<center>
			<div class = "divabout">
				<br />
				<h1 class = "about">About Us</h1>
				<br />
				<p class = "abt">We are the best hotel ever. Hotel made by Steffen Arcenal (also Made in China). Website made by Kevin Cua</p>
					<br />
			<br />
			</div>
			</center>
	</body>
</html>
