<!DOCTYPE html>
<html>
	<head>
		<title>
		Ffen's Hotel
		</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	</head>
	<body background = "pics/front.jpg">
		<div id ="divmain">
			<div class = "divmain2">
			<center /><a class ="font" href="/hotel">Home</a></li>
			</div>
			<div class = "divmain2">
			<center /><a class ="font" href="/hotelrooms">Hotel Rooms</a>
			</div>
			<div class = "divmain2">
			<center /><a class ="font" href="/hotelreserve">Reserve a Room</a>
			</div>
			<div class = "divmain2">
			<center /><a  class ="font" href="/hotelabout">About us</a>
			</div>
			<div class = "divmain2">
			<center /><a  class ="font" href="/">Aling Nena</a>
			</div>
		</div>
			
			<br />
			<h1>Ffen's Hotel</h1>
			<br />
			<br />
			<div class = "divname5">
			</div>
			<div class = "divname">
				<div class  = "divnames">
					<a href = "index.html">
						<p>Ching Chang Suite</p>
					</a>
				</div>
				<div class = "divnames2">
					<a href>
						<p>Fountain Suite</p>
					</a>
				</div>
				<br /><br /><br /><br />
			</div>
			<br /><br />
			<div class = "divroom">
				<div class  = "divrooms">
					<a href = "index.html">
						<img src = "pics/chingchang.jpg" />
					</a>
				</div>
				<div class = "divrooms2">
					<a href>
						<img src = "pics/fountain.jpg" />
					</a>
				</div>

			</div>
			<div class = "divname3">
			</div>
			<div class = "divname2">
				<div class = "divnames3">
					<a href>
						<p>Book Suite</p>
					</a>
				</div>
				<div class = "divnames4">
					<a href>
						<p>Swim Suite</p>
					</a>
				</div>
			</div>
			<br /> <br />
			<div class = "divroom2">
				<div class = "divrooms3">
					<a href>
						<img src = "pics/book.jpg" />
					</a>
				</div>
				<div class = "divrooms4">
					<a href>
						<img src = "pics/swim.jpeg" />
					</a>
				</div>
			</div>
			<div class = "divname4">
			</div>
	</body>
</html>
