<!DOCTYPE HTML>
<html>
	 <head>
 	    <script type = "text/javascript" src = "/js/modernizr.custom.js"></script>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
 	    <link href="/css/kevin.css" rel="stylesheet" />
 	    <link rel="shortcut icon" href="/pics/nena.ico">
	   <title>Aling Nena</title>
	 </head>
	 <body>
	 	<div class = "mybar">
	 		<a href =""><div>
	 			<p>Home</p>
	 		</div></a>
	 		<a href ="products"><div>
	 			<p>Products</p>
	 		</div></a>
	 		<a href ="about"><div>
	 			<p>About Us</p>
	 		</div></a>
	 	</div>
	 	<br /><br /><br /><br />	
		<div class = "myslider">
	 		<div id="cbp-fwslider" class="cbp-fwslider">
				<ul>
					<li><a href="/"><img class = "first" src="pics/1.png" alt="1"/></a></li>
					<li>
					<a href="/products">
					<div>
					<h1> Product List</h1>
					<%= @listofitems %>
					</div>
					</a></li>
					<li><a href="/hotel"><img class = "second" src="pics/3.png" alt="3"/></a></li>
					<li><a href="https://www.facebook.com/oliver.tan.37"><img class = "second" src="pics/4.jpg" alt="4"/></a></li>
					<li><a href="/about"><img class = "about" src="pics/about.jpg" alt="5"/></a></li>
				</ul>
			</div>
		</div>
	 	<br /><br />
		<div class="container">
		<a href= "/hotel">
		<button class="ribbon facebook">
		<span class="entypo-facebook"></span>
		</button>
		</a>
		<a href= "/hotel">
		<button class="ribbon googleplus">
		<span class="entypo-gplus"></span>
		</button>
		</a>
		<a href= "/hotel">
		<button class="ribbon twitter">
		<span class="entypo-twitter"></span></button>
		</div>
		</a>
		<br /><br /><br />
	 	<script src="/js/jquery.min.js"></script>
	 	<script src="/js/jquery.cbpFWSlider.min.js"></script>
	 	<script>
			$( function() {
				/*
				- how to call the plugin:
				$( selector ).cbpFWSlider( [options] );
				- options:
				{
					// default transition speed (ms)
					speed : 500,
					// default transition easing
					easing : 'ease'
				}
				- destroy:
				$( selector ).cbpFWSlider( 'destroy' );
				*/

				$( '#cbp-fwslider' ).cbpFWSlider();

			} );
		</script>
	 </body>
</html>