<!DOCTYPE HTML>
<html>
	 <head>
	 	<title>Buying Failure</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
 	    <link href="/css/kevin.css" rel="stylesheet" />
 	    <link rel="shortcut icon" href="/pics/nena.ico">
	   <title>Aling Nena</title>
	 </head>
	 <body>
	 	<div class = "mybar">
	 		<a href ="/"><div>
	 			<p>Home</p>
	 		</div></a>
	 		<a href ="/products"><div>
	 			<p>Products</p>
	 		</div></a>
	 		<a href ="/about"><div>
	 			<p>About Us</p>
	 		</div></a>
	 	</div>
	 		<br /> <br />
 	    <h1>Fill all textboxes!</h1>
	 	<a href ="/product/<%= @product.id %>"><p>Go back!</p></a>
	 	<br />
	 	
	 </body>
</html>