<!DOCTYPE HTML>
<html>
	 <head>
	 	<title>Product List</title>
 	    <link href="/css/bootstrap.min.css" rel="stylesheet">
 	    <link href="/css/kevin.css" rel="stylesheet">
 	    <link rel="shortcut icon" href="/pics/nena.ico">
	 </head>
	 <body>
	 	<div class = "mybar">
	 		<a href ="/"><div>
	 			<p>Home</p>
	 		</div></a>
	 		<a href ="/products"><div>
	 			<p>Products</p>
	 		</div></a>
	 		<a href ="/about"><div>
	 			<p>About Us</p>
	 		</div></a>
	 	</div>
	 	<br />
	 <h1><%= "#{@product.name} - Php #{@product.price} - Total Stock: #{@product.quantity}" %></h1>
	 	<br />
	 <form METHOD ="POST" action ="/product/<%= @product.id %>">
	 	<label for = "amount">Number of Items </label>
		 <input type = "number" placeholder = "Enter a number" name = "amount" />
		 <br />
		 <h2>Denomination of Payment</h2>
		 <label for = "ones">Ones</label>
		 <input type = "number" placeholder = "Enter a number" name = "ones" />
		 <br />
		 <label for = "fives">Fives </label>
		 <input type = "number" placeholder = "Enter a number" name = "fives" />
		 <br />
		 <label for = "tens">Tens </label>
		 <input type = "number" placeholder = "Enter a number" name = "tens" />
		 <br />
		 <label for = "twenties">Twenties </label>
		 <input type = "number" placeholder = "Enter a number" name = "twenties" />
		 <br />
		 <label for = "fifties">Fifties </label>
		 <input type = "number" placeholder = "Enter a number" name = "fifties" />
		 <br />
		 <label for = "hundreds">Hundreds </label>
		 <input type = "number" placeholder = "Enter a number" name = "hundreds" />
		 <br />
		 <label for = "five_hundreds">Five Hundreds </label>
		 <input type = "number" placeholder = "Enter a number" name = "five_hundreds" />
		 <br />
		 <label for = "thousands">Thousands</label>
		 <input type = "number" placeholder = "Enter a number" name = "thousands" />
		 <br /><br />
		 <input type = "submit" value = "Pay" />
	 </form>
	 </body>
</html>