<!DOCTYPE HTML>
<html>
	 <head>
 	    <link href="/css/bootstrap.min.css" rel="stylesheet">
	   <title>Buying Failure</title>
	 </head>
	 <body>
	 	<h1>Fill all textboxes</h1>
	 	<a href ="/product/<%= @product.id %>">Go back!</a>
	 	<br />
	 	
	 </body>
</html>