<!DOCTYPE HTML>
<html>
	 <head>
 	    <link href="/css/bootstrap.min.css" rel="stylesheet">
 	    <link href="/css/kevin.css" rel="stylesheet">
	 	<title>Product List</title>
	 </head>
	 <body>
	 	<div class = "mybar">
	 		<a href ="/"><div>
	 			<p>Home</p>
	 		</div></a>
	 		<a href ="/products"><div>
	 			<p>Products</p>
	 		</div></a>
	 		<a href ="/about"><div>
	 			<p>About Us</p>
	 		</div></a>
	 	</div>
	 	<br />
	 	<h1 class = "product">PRODUCT LIST</h1>
	 	<br />
	 	<center><table class = "flat-table flat-table-1">
          <thead>
            <tr>
              <center><td>Name</td></center>
              <td>Price</td>
              <td>Quantity</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= product.quantity %></td>
              <td><a href="/product/<%= product.id %>" class="btn btn-default btn-primary">Buy</a></td>
             </tr>
          </tbody></center>
          <% end %>
        </table>
	 </body>
</html>